
nav  {
  padding-top: 25px;
  height: 65px; width: 1400px;

}

ul{ 
  display: flex;
  text-align: center;
  height: 65px; width: 1400px;
}

#section1 {
  height: 65px; width: 1400px;
  background-color: white;
  }

li {
  display: flex;  
  font-family: "Manrope";
  margin-inline: 98px;
  font-size: 31.5px;
  font-weight: 500;
}

a {
  color: #433426;
  text-decoration-thickness: 3.575px;
}

a:hover{
  font-family: "Manrope";
  font-weight: 500;
  color: #433426;
  text-decoration-color: #806C4B;
  text-decoration-thickness: 3.575px;
  font-size: 31.5px;
}

.MelissaHero { /* hero text */
  display: flex;
  flex-direction: row;
  height: 565px; width: 1400px;
  text-align: center;
  padding-top: 55px;
}

.MelissaHeroText {
text-align: center;
padding-left: 25px;
}

img{
margin-left: 105px;
}

h1 {
  font-family: "Bevan";
  font-weight: 500;
  color: #806C4B;
  font-size: 76px;
  margin-top: 90px;
}

/*h1:hover {
  color: #fa5763
}*/

svg{
  fill: #806C4B;
  margin-top: 20px;
  }
  
svg:hover {
  color: #D7232F;
  }

html {
  scroll-behavior: smooth;
}

h2 { 
  font-family: "Manrope";
  color: #433426;
  font-size: 31.5px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #433426;
  text-decoration-thickness: 3.575px;
  padding-top: 55px;
  padding-left: 140px;

}

#section2 { /* about me */
  height: 665px; width: 1400px;
  background-color: #806C4B;
  text-align: left;
 }

p { /* letter */
  font-family: "Manrope-regular";
  font-size: 21.5px;
  color: #433426;
  font-weight: 700;
  text-align: left;
  line-height: 28px;
  padding-left: 140px;

}

span{
  text-decoration: underline;
}

span:hover{
  color: #D7232F;
  text-transform: bold;
  cursor: pointer;
}
 
h4{ /* Signature */
  font-family: "Meow Script", sans-serif;
  font-size: 54px;
  font-weight: 500;
  margin-top: -75px;
  color: #433426;
  padding-left: 145px;

 }

.aboutmephoto{
float: right;
margin-top: -640px;
padding-right: 95px;
}

#section3{
  height: 665px; width: 1400px;
  background-color: lightcyan;
  text-align: left;
  margin-top: -9px;
  padding-bottom: 5px;

}

.flexcontainer { /* Featured Work */
  display: flex;
  flex-direction: row;
  height: 665px; width: 1400px;
  padding-left: 140px;
  padding-top: 250px;
}

h3{
  font-family: "Manrope";
  font-size: 25px;
  font-weight: 900;
  line-height: 28px;
  color: #433426;
  padding-bottom: 10px;
}

button1 {
  text-align: left;
  font-family: "Manrope";
  font-weight: 900;
  font-size: 15px;
  background-color: white; 
  border-radius: 20px;
  padding-left: 150px; padding-right: 150px;
  padding-top: 8px; padding-bottom: 8px;
  border: 1px, solid, #433426;
  color: #433426;
}


button1:hover{
background-color: #FFC258;
border: 1px, solid  #FFC258;
}


.Card2{
margin-inline: 24px;
}


h5{
  font-family: "Bevan";
  font-weight: 100;
  color: White;
  font-size: 82px;
  margin-top: -15px;
}

#section4 { /*Weblog*/
  height: 665px; width: 1400px;
  background-color: #FFC258;
  text-align: left;
  margin-top: -26px;
}

#section5 { /* Contact */
  height: 665px; width: 1400px;
  padding-top: 45px;
  background-color: #292929;
  text-align: left;
  margin-top: 0px;
  padding-left: 140px;

  
}

form{
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    text-align: left;
    padding-left: 90px; 
    margin-top: -20px;
}

input[type=text1] {
    font-family: "Manrope", sans-serif;
    background-color: black;
    border: none;
    border-bottom: 2px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color:white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding-right: 90px;
    padding-top: 10px; padding-bottom: 10px;
    text-align: left;
    margin-bottom: 45px;
}


input[type=text2] {
    font-family: "Manrope", sans-serif;
    background-color: black;
    border: none;
    border-bottom: 2px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding-right: 90px;
    padding-top: 10px; padding-bottom: 10px;
    text-align: left;
    margin-bottom: 75px;
}
