
.main {
  padding-top: 45px;
  text-align: center;
}

a {
  margin-inline: 100px;
  text-decoration: none;
  font-family: Manrope;
  font-size: 21px;
  color: #806C4B;
  font-weight: 500;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-transform: lowercase;
  text-decoration: underline;
  font-weight: bolder;
  color: red;
  
}

.MelissaHero {
  display: flex;
  flex-direction: row;
  height: 650px;
  text-align: center;
  padding-right: 115px;
}

.MelissaHeroText{
 width: 900px

}

img{
  padding-left: 75px;
}

h1 {
  font-family: Manrope-regular;
  font-size: 68px;
  padding-top: 45px; padding-left: 15px;
}

p{  
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 62px;
}


html {
  scroll-behavior: smooth;
}

#section1 {
height: 65px;
background-color: white;
}

#section2 { /* about me */
height: 675px;
background-color: #FFC258;
  }

#section3 {
height: 675px;
background-color: black;
  }

#section4 { 
    background-color:black;
}

#section5 { /* Footer */
    background-color:black;
}


button1{
    background-color: white;
    padding-top: 20px; padding-bottom: 20px;
    padding-left: 180px; padding-right: 180px;
    color: black;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid black;
    margin-left: 90px;
  }

button2 {
    background-color:gray;
    padding-top: 18px; padding-bottom: 18px;
    padding-left: 75px; padding-right: 75px;
    font-family: "Manrope", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    margin-left: 90px;
    margin-top: 90px;
}

button2:hover {
    background-color: #FFC258; /* Amber */
  }

h3{ /*-----------*/
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    color: #806C4B;
    padding-top: 5px;
}

form{
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    text-align: left;
    padding-left: 90px; 
    margin-top: -20px;
}

input[type=text1] {
    font-family: "Manrope", sans-serif;
    background-color: black;
    border: none;
    border-bottom: 2px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color:white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding-right: 90px;
    padding-top: 10px; padding-bottom: 10px;
    text-align: left;
    margin-bottom: 45px;
}


input[type=text2] {
    font-family: "Manrope", sans-serif;
    background-color: black;
    border: none;
    border-bottom: 2px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding-right: 90px;
    padding-top: 10px; padding-bottom: 10px;
    text-align: left;
    margin-bottom: 75px;
}
