
h1{
    font-family: "Manrope", sans-serif;
    font-size: 40px;
    font-weight:900;
    padding-left: 90px;
}

a{
    font-family: "Manrope", sans-serif;
    text-decoration: none;
}

.headerflexcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-right: 100px;
}

nav li {
    display: inline-block;
    margin-right: 70px;
    padding-top: 38px;
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;   
}

.sectionflexcontainer{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 90px;
    padding-left: 180px;
    padding-bottom: 180px;
}

.herocallout{
    padding-inline: 140px;
}


.myskillsflexcontainer{
    display: flex;
    flex-direction: row;
    padding-left: 90px;
    padding-top: 140px;
    padding-bottom: 140px;

}

.myworkflexcontainer{
    display: flex;
    flex-direction: row;
    padding-left: 90px;
    padding-top: 140px;
    padding-bottom: 140px;

}

h2{
    font-size: 82px;
    font-family: "Manrope", sans-serif;
    text-align: center;
}

h5{ 
    font-size: 30px;
    font-family: "Manrope", sans-serif;
    text-align: left;
    font-weight: 900;
}

h6{
    font-size: 26px;
    text-align: left;
    font-family: "Manrope", sans-serif;
    font-weight: 300;
}

img{
    padding-right: 45px;
    padding-top: 60px;
}


div{
    padding-inline: 90px;
    text-align: center;
}

p{  text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 27px;
    padding-bottom: 20px;
}


button {
    background-color: black;
    padding-top: 23px; padding-bottom: 23px;
    padding-left: 210px; padding-right: 210px;
    color: white;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    margin-top: 29px;
  }


.footerflexcontainer{
    background-color:black;
    color:white;
    padding-top: 45px;
    padding-left: 90px;
    padding-bottom: 90px;
}

.footerbuttons{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    width: 160px; height: 160px;
    cursor: pointer;
    padding-bottom: 90px;
 }

h3{
    font-family: "Manrope", sans-serif;
    font-size: 95px;
    padding-left: 90px;
    text-align: left;
}

h4{
    text-align: left;
    font-family: "Manrope", sans-serif;
    font-weight: 400px;
    font-size: 18px; 
    padding-left: 90px;
    }